{
  "presets": [["@babel/preset-env", {
    "targets": {
      "browsers": ["last 2 versions", "iOS > 7"]
    }
  }], ["minify", {"mangle": false}]],
  "plugins": ["@babel/transform-modules-umd"],
  "sourceMaps": true
}