{
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions", "iOS > 7"]
    }
  }], ["minify", {"mangle": false}]],
  "plugins": ["transform-es2015-modules-umd"],
  "sourceMaps": true
}